#map {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}
a {
  color: aqua;
}
h3 {
  color: #000000;
  font-size: 1.1em;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: rgb(102, 102, 102);
  color: rgb(255, 255, 255);
  box-shadow: 0 3px 14px rgb(0 0 0 / 40%);
}
.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.2;
  column-count: 2;
  text-align: center;
}
.leaflet-popup-content h2{
  font-size: 1.5em;
  color:#ffffff;
  text-align: center;
}
.popup-img {
  width: 90%;
  height: 90%;
  padding-bottom: 1.3em;
}

/* MOBILE-FRIENDLY SETTINGS */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 375px) {
  h1 {
    font-family: "Trirong";
    font-size: 1em;
    margin: 0%;
    color: #ffffff;
  }
  h2 {
    font-size: 1em;
    font-family: "Calibri";
    color: #ffffff;
    text-emphasis: italic;
  }
  #header {
    position: fixed;
    width: 100%;
    z-index: 1000; /* place above map */
    background-color: #045a8d;
  }
  .row {
    margin-left: 1%;
    padding: 0.1%;
  }
  .col {
    padding: 1%;
    text-align: left;
  }
  #ui {
    position: fixed;
    z-index: 1000; /* place above map */
    bottom: 10%;
    right: 3%;
    height: 5em;
    width: 15em;
    padding: 2% 5%;
    text-align: center;
    background: #045a8d;
  }
  #info-button {
    position: fixed;
    border: 2px;
    background-color: #045a8d;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    top: 5%;
    right: 57%;
    cursor: pointer;
  }
  #metrics-button {
    position: fixed;
    border: 2px;
    background-color: #045a8d;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    top: 5%;
    right: 36%;
    cursor: pointer;
  }
  #data-button {
    position: fixed;
    border: 2px;
    background-color: #045a8d;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    top: 5%;
    right: 20%;
    cursor: pointer;
  }
  #route1-button {
    position: fixed;
    border: 2px;
    background-color: #045a8d;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-size: 0.75em;
    bottom: 13%;
    right: 47.5%;
    cursor: pointer;
  }
  #route2-button {
    position: fixed;
    border: 2px;
    background-color: #045a8d;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-size: 0.75em;
    bottom: 13%;
    right: 27.5%;
    cursor: pointer;
  }
  #route3-button {
    position: fixed;
    border: 2px;
    background-color: #045a8d;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-size: 0.75em;
    bottom: 13%;
    right: 7.5%;
    cursor: pointer;
  }   
  div.transbox {
    margin: 2%;
    display: block;
    background-color: #ffffff;
    border: 2px solid #045a8d;
    opacity: 0.7;
    padding: 2%;
  }
  div.transbox h2 {
    margin: 0.25%;
    font-weight: bold;
    font-size: 1.5em;
    color: #045a8d;
    text-align: center;
  }
  div.transbox p {
    margin: 2%;
    font-size: 1em;
    font-weight: bold;
    color: #000000;
  }
  #footer {
    width: 100%;
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    height: 50%;
    bottom: 0%;
    display: none;
    z-index: 9000;
    position: absolute;
    /* If too much is included, enable scroll */
    overflow: scroll;
  }
  #metrics {
    width: 100%;
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    height: 50%;
    bottom: 0%;
    display: none;
    z-index: 9000;
    position: absolute;
    /* If too much is included, enable scroll */
    overflow: scroll;
  }
  #data {
    width: 100%;
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    height: 50%;
    bottom: 0%;
    display: none;
    z-index: 9000;
    position: absolute;
    /* If too much is included, enable scroll */
    overflow: scroll;
    background-image: url(/Images/cover_photo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
/* NEXT QUERY */
@media (min-width: 576px) {
  h1 {
    font-family: "Trirong";
    font-size: 1.5em;
    margin: 0%;
    color: #ffffff;
  }
  h2 {
    font-size: 0.75em;
    font-family: "Calibri";
    color: #ffffff;
    text-emphasis: italic;
  }
  #header {
    position: fixed;
    width: 100%;
    z-index: 1000; /* place above map */
    background-color: #045a8d;
  }
  .row {
    margin-left: 1%;
    padding: 0.1%;
  }
  .col {
    padding: 1%;
    text-align: left;
  }
  #ui {
    position: fixed;
    z-index: 1000; /* place above map */
    bottom: 10%;
    right: 3%;
    height: 5em;
    width: 15em;
    padding: 2% 5%;
    text-align: center;
    background: #045a8d;
  }
  #info-button {
    position: fixed;
    border: 2px;
    background-color: #045a8d;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    top: 8%;
    right: 58%;
    cursor: pointer;
  }
  #metrics-button {
    position: fixed;
    border: 2px;
    background-color: #045a8d;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    top: 8%;
    right: 41.5%;
    cursor: pointer;
  }
  #data-button {
    position: fixed;
    border: 2px;
    background-color: #045a8d;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    top: 8%;
    right: 28.5%;
    cursor: pointer;
  }
  #route1-button {
    position: fixed;
    border: 2px;
    background-color: #045a8d;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-size: 0.75em;
    bottom: 13%;
    right: 32.5%;
    cursor: pointer;
  }
  #route2-button {
    position: fixed;
    border: 2px;
    background-color: #045a8d;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-size: 0.75em;
    bottom: 13%;
    right: 18.5%;
    cursor: pointer;
  }
  #route3-button {
    position: fixed;
    border: 2px;
    background-color: #045a8d;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-size: 0.75em;
    bottom: 13%;
    right: 5.5%;
    cursor: pointer;
  }   
  div.transbox {
    margin: 2%;
    display: block;
    background-color: #ffffff;
    border: 2px solid #045a8d;
    opacity: 0.7;
    padding: 2%;
  }
  div.transbox h2 {
    margin: 0.25%;
    font-weight: bold;
    font-size: 2em;
    color: #045a8d;
    text-align: center;
  }
  div.transbox p {
    margin: 2%;
    font-size: 1em;
    font-weight: bold;
    color: #000000;
  }
  #footer {
    width: 100%;
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    height: 50%;
    bottom: 0%;
    display: none;
    z-index: 9000;
    position: absolute;
    /* If too much is included, enable scroll */
    overflow: scroll;
    background-image: url(/Images/Walkability/README.md/cover_photo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  #metrics {
    width: 100%;
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    height: 50%;
    bottom: 0%;
    display: none;
    z-index: 9000;
    position: absolute;
    /* If too much is included, enable scroll */
    overflow: scroll;
    background-image: url(/Images/Walkability/README.md/cover_photo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  #data {
    width: 100%;
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    height: 50%;
    bottom: 0%;
    display: none;
    z-index: 9000;
    position: absolute;
    /* If too much is included, enable scroll */
    overflow: scroll;
    background-image: url(/Images/Walkability/README.md/cover_photo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

/* Medium devices (tablets, 768px and up)*/ /*CURRENTLY HERE*/
@media (min-width: 768px) {
  h1 {
    font-family: "Trirong";
    font-size: 1.5em;
    margin: 0%;
    color: #ffffff;
  }
  h2 {
    font-size: 0.75em;
    font-family: "Calibri";
    color: #ffffff;
    text-emphasis: italic;
  }
  #header {
    position: fixed;
    width: 100%;
    z-index: 1000; /* place above map */
    background-color: #045a8d;
  }
  .row {
    margin-left: 1%;
    padding: 0.1%;
  }
  .col {
    padding: 1%;
    text-align: left;
  }
  #ui {
    position: fixed;
    z-index: 1000; /* place above map */
    bottom: 10%;
    right: 3%;
    padding: 2% 5%;
    text-align: top;
    font-size: 1.5em;
    background: #045a8d;
  }
  #info-button {
    position: fixed;
    border: 2px;
    background-color: #045a8d;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    top: 2.5%;
    right: 17.15%;
    cursor: pointer;
  }
  #metrics-button {
    position: fixed;
    border: 2px;
    background-color: #045a8d;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    top: 2.5%;
    right: 9%;
    cursor: pointer;
  }
  #data-button {
    position: fixed;
    border: 2px;
    background-color: #045a8d;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    top: 2.5%;
    right: 3%;
    cursor: pointer;
  }
  #route1-button {
    position: fixed;
    border: 2px;
    background-color: #045a8d;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-size: 0.75em;
    bottom: 15.5%;
    right: 32.5%;
    cursor: pointer;
  }
  #route2-button {
    position: fixed;
    border: 2px;
    background-color: #045a8d;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-size: 0.75em;
    bottom: 15.5%;
    right: 18.6%;
    cursor: pointer;
  }
  #route3-button {
    position: fixed;
    border: 2px;
    background-color: #045a8d;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-size: 0.75em;
    bottom: 15.5%;
    right: 5.5%;
    cursor: pointer;
  }   
  div.transbox {
    margin: 2%;
    display: block;
    background-color: #ffffff;
    border: 2px solid #045a8d;
    opacity: 0.7;
    padding: 2%;
  }
  div.transbox h2 {
    margin: 0.25%;
    font-weight: bold;
    font-size: 2em;
    color: #045a8d;
    text-align: center;
  }
  div.transbox p {
    margin: 2%;
    font-size: 1em;
    font-weight: bold;
    color: #000000;
  }
  #footer {
    width: 100%;
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    height: 50%;
    bottom: 0%;
    display: none;
    z-index: 9000;
    position: absolute;
    /* If too much is included, enable scroll */
    overflow: scroll;
    background-image: url(/Images/Walkability/README.md/cover_photo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  #metrics {
    width: 100%;
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    height: 50%;
    bottom: 0%;
    display: none;
    z-index: 9000;
    position: absolute;
    /* If too much is included, enable scroll */
    overflow: scroll;
    background-image: url(/Images/Walkability/README.md/cover_photo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  #data {
    width: 100%;
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    height: 50%;
    bottom: 0%;
    display: none;
    z-index: 9000;
    position: absolute;
    /* If too much is included, enable scroll */
    overflow: scroll;
    background-image: url(/Images/Walkability/README.md/cover_photo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1 {
    font-family: "Trirong";
    font-size: 1.5em;
    margin: 0%;
    color: #ffffff;
  }
  h2 {
    font-size: 0.75em;
    font-family: "Calibri";
    color: #ffffff;
    text-emphasis: italic;
  }
  #header {
    position: fixed;
    width: 100%;
    z-index: 1000; /* place above map */
    background-color: #045a8d;
  }
  .row {
    margin-left: 1%;
    padding: 0.1%;
  }
  .col {
    padding: 1%;
    text-align: left;
  }
  #ui {
    position: fixed;
    z-index: 1000; /* place above map */
    bottom: 10%;
    right: 3%;
    padding: 2% 5%;
    text-align: top;
    font-size: 1.5em;
    background: #045a8d;
  }
  #info-button {
    position: fixed;
    border: 2px;
    background-color: #045a8d;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    top: 2.5%;
    right: 17.15%;
    cursor: pointer;
  }
  #metrics-button {
    position: fixed;
    border: 2px;
    background-color: #045a8d;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    top: 2.5%;
    right: 9.5%;
    cursor: pointer;
  }
  #data-button {
    position: fixed;
    border: 2px;
    background-color: #045a8d;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    top: 2.5%;
    right: 3%;
    cursor: pointer;
  }
  #route1-button {
    position: fixed;
    border: 2px;
    background-color: #045a8d;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-size: 0.75em;
    bottom: 15%;
    right: 24%;
    cursor: pointer;
  }
  #route2-button {
    position: fixed;
    border: 2px;
    background-color: #045a8d;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-size: 0.75em;
    bottom: 15%;
    right: 14%;
    cursor: pointer;
  }
  #route3-button {
    position: fixed;
    border: 2px;
    background-color: #045a8d;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-size: 0.75em;
    bottom: 15%;
    right: 4.5%;
    cursor: pointer;
  }
  div.transbox {
    margin: 2%;
    display: block;
    background-color: #ffffff;
    border: 2px solid #045a8d;
    opacity: 0.7;
    padding: 2%;
  }
  div.transbox h2 {
    margin: 0.25%;
    font-weight: bold;
    font-size: 2em;
    color: #045a8d;
    text-align: center;
  }
  div.transbox p {
    margin: 2%;
    font-size: 1em;
    font-weight: bold;
    color: #000000;
  }
  #footer {
    width: 100%;
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    height: 50%;
    bottom: 0%;
    display: none;
    z-index: 9000;
    position: absolute;
    /* If too much is included, enable scroll */
    overflow: scroll;
    background-image: url(/Images/Walkability/README.md/cover_photo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  #metrics {
    width: 100%;
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    height: 50%;
    bottom: 0%;
    display: none;
    z-index: 9000;
    position: absolute;
    /* If too much is included, enable scroll */
    overflow: scroll;
    background-image: url(/Images/Walkability/README.md/cover_photo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  #data {
    width: 100%;
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    height: 50%;
    bottom: 0%;
    display: none;
    z-index: 9000;
    position: absolute;
    /* If too much is included, enable scroll */
    overflow: scroll;
    background-image: url(/Images/Walkability/README.md/cover_photo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
